In [3]:
5 // 2

2

In [4]:
any([0, 0])

False

In [8]:
import uuid
import random

people = [
    dict(
        name=str(uuid.uuid4()), 
        age=random.randint(10, 20)
    ) for _ in range(10)
]

people.sort(key=lambda data:data.get("age"))

def printlist(list_, /, tab=1):
    print("\t"*(tab-1), "[")
    for i in list_:
        if type(i) == list:
            printlist(i, tab=tab+1)
        else:
            print("\t"*tab, i)
    print("\t"*(tab-1), "]")
    
printlist(people)

 [
	 {'name': 'f8b4d1ee-24c6-487b-8bc8-e2562e5a00b2', 'age': 10}
	 {'name': 'be3b55db-7fdc-485d-8df8-d39e21153fcd', 'age': 11}
	 {'name': '09b3279a-e9d9-4ba6-826d-0e2402fd6683', 'age': 12}
	 {'name': '014b8dff-d0ed-4ee2-a7f8-5821fb349e09', 'age': 13}
	 {'name': '86839630-9c14-44bf-b63b-078512c050e4', 'age': 15}
	 {'name': '13cc357e-19d8-48b7-8ac0-a76c18662742', 'age': 15}
	 {'name': 'ef9ec01f-8d09-4bd6-a60b-bd6e424c7a29', 'age': 17}
	 {'name': '4c61bc38-6bf4-4e82-ae6b-87eb93ebad55', 'age': 17}
	 {'name': '14afef77-99f6-452c-bd18-48117707a34d', 'age': 18}
	 {'name': '3c2b7950-e5ea-48fa-8300-aa4a773507e9', 'age': 19}
 ]